/****************** Cart ******************/
.cart-btn, .cart-btn-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  gap: 0.5rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 5px;
}

.cart-btn-focus, .cart-btn:hover {
  background-color: rgba(var(--secondary-color));
}

.cart-icon {
  width: 25px;
  height: 25px;
}

/****************** Cart Content Heading ******************/
.cart-h2 {
  font-family: var(--font-montserrat);
}

/****************** Cart Content Info Card ******************/
.cart-container {
  background-color: white;
  position: relative;
  max-height: 325px;
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: 1px; 
}

.cart-container > *:not(:last-child) {
  margin-bottom: 1rem; 
}

.cart-container > *:last-child {
  margin-bottom: 0; 
}

.cart-card {
  width: 325px;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-montserrat);
  font-size: 14px;
}

.cart-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-info {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.cart-info-second {
  display: flex;
  justify-content: space-between;
}

.cart-info-third {
  display: flex;
  justify-content: space-between;
}