/****************** Cart ******************/
.cart-btn, .cart-btn-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  gap: 0.5rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 5px;
}

.cart-btn-focus, .cart-btn:hover {
  background-color: rgba(var(--secondary-color));
}

.cart-icon {
  width: 30px;
  height: 30px;
}