/****************** Cart ******************/
.cart-btn, .cart-btn-focus, .wish-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  gap: 0.25rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 10px;
}

.cart-btn-focus, .cart-btn:hover {
  background-color: rgba(var(--secondary-color), 1);
}

.cart-icon-wrapper {
  position: relative;
}

.cart-icon {
  width: 25px;
  height: 25px;
}

.cart-badge {
  width: 17.5px;
  height: 17.5px;
  font-weight: 500;
  font-size: 10px;
  color: rgba(var(--primary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: rgba(var(--red-button-color));
  border-radius: 100%;
  animation: fade-in-up 300ms;
}

/****************** Cart Content Heading ******************/
.cart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-family: var(--font-montserrat);
  font-size: 14px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(var(--inverse-color), 0.25);
}

.cart-header h2 {
  font-weight: 700;
  font-size: 15px;
}

/****************** Cart Content Info Card ******************/
.cart-container {
  position: relative;
  max-height: 330px;
  padding: 0.5rem 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--scrollbar-color), 1) transparent;
  scrollbar-gutter: stable;
}

@supports selector(::-webkit-scrollbar) {
  .cart-container::-webkit-scrollbar {
    width: 4px;
  }
}

.cart-container > *:not(:last-child) {
  margin-bottom: 1.5rem; 
}

.cart-container > *:last-child {
  margin-bottom: 0; 
}

.cart-card {
  width: 350px;
  height: 106px;
  display: grid;
  position: relative;
  grid-template-columns: 30% 70%;
  gap: 0.5rem;
  font-family: var(--font-montserrat);
  font-size: 14px;
}

.wish {
  width: 300px;
  grid-template-columns: 35% 65%;
}

.cart-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.cart-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.25rem;
}

.cart-info {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-info h2 {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart-price-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.cart-discount-badge {
  display: inline-block;
  background: rgba(var(--primary-color));
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 12px;
  padding: 0.1rem 0.25rem;
}

.cart-price, .cart-price-discounted, .cart-price-strike {
  font-weight: 400;
}

.cart-price-discounted {
  font-weight: 500;
  color: rgba(215, 0, 0, 1)
}

.cart-price-strike {
  color: rgba(var(--primary-text-color), 0.55);
  text-decoration: line-through;
}

.cart-qty-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -2.5px
}

.cart-qty-oos {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: 400;
  color: rgba(235, 0, 0, 1)
}

.cart-close {
  position: absolute;
  top: -7.5px;
  right: 5px;
  width: 25px;
  height: 25px;
  transform: scale(1);
  transition: transform 200ms ease;
}

.cart-close:active {
  transform: scale(0.9);
}

/*** Mobile & Media Queries ***/
.cart-btn-mobile {
  display: none;
}

.cart-dropdown-header {
  display: block;
}

@media (max-width: 1536px) {
  .cart-dropdown-header {
    display: none;
  }
}

@media (max-width: 1024px) {
  .cart-btn-mobile {
    position: relative;
    display: block;
  }
}

/****************** Dropdown Content ******************/
.cart-dropdown-btn {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 10px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 15px;
  color: rgba(var(--secondary-text-color));
  border-width: 1px;
  border-color: black;
  background-color: rgba(var(--primary-button-color));
  transform: scale(1);
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out, transform 200ms ease;
}

.cart-dropdown-btn:hover {
  color: rgba(var(--primary-text-color));
  background-color: rgba(var(--primary-hover-button-color))
}

.cart-dropdown-btn:active {
  transform: scale(0.9);
}

/*** CSSTransition ***/
.badge-enter {
  opacity: 0;
  animation: fade-in-up 300ms;
}

.badge-enter-active {
  opacity: 1;
  animation: fade-in-up 300ms;
}

.badge-exit {
  opacity: 1;
  animation: fade-out-up 300ms;
}

.badge-exit-active {
  opacity: 0;
  animation: fade-out-up 300ms;
}