.store {
  position: relative;
  background-color: rgba(var(--primary-color));
}

.store-products-section {
  position: relative;
  width: 100%;
  font-family: var(--font-montserrat);
  font-size: 15px;
  padding: 2rem 0 3rem 0;
}

.loading-page {
  width: 100%;
  height: calc(100dvh - 104px + 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -5rem;
  gap: 1rem;
  font-family: var(--font-montserrat);
  animation: fade-in-up 400ms 200ms backwards;
}

/*** Header ***/
.store-products-title {
  width: 92.5%;
  text-align: start;
  margin: auto;
  padding-bottom: 0.65rem;
  font-family: var(--font-montserrat);
  font-size: 30px;
  text-shadow: 0px 0px 5px rgba(var(--inverse-color), 0.2);
  animation: fade-in-up 400ms 200ms backwards;
}

/*** Filter & Sort ***/
.store-products-sort-container {
  position: sticky;
  top: 104px;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0.35rem 0;
  gap: 1rem;
  background-color: rgba(var(--primary-color));
  font-family: var(--font-montserrat);
  font-size: 15px;
  font-weight: 500;
  animation: fade-in-up 400ms 300ms backwards;
  z-index: 1;
}

.filter-btn {
  position: relative;
  height: 45px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 20px;
  gap: 0.5rem;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(var(--inverse-color), 0.2);
  cursor: pointer;
  background-color: transparent;
}

.filter-abs {
  height: var(--height);
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0.65rem;
}

.filter-menu {
  width: 300px;
  max-height: calc(100dvh - (104px + 56.2px + 2rem));
  position: sticky;
  top: 176px;
  left: 0;
  padding-right: 10px;
  background-color: rgba(var(--primary-color));
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--scrollbar-color), 1) transparent;
  scrollbar-gutter: stable;
}

.filter-menu-close {
  margin: 0.5rem 0;
  margin-left: auto;
}

.filter-menu-clear {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.filter-menu-close-svg {
  width: 30px;
  height: 30px;
  margin-right: -0.75rem;
}

.filter-menu-clear-svg {
  width: 25px;
  height: 25px;
  margin-right: -0.3rem;
}

.filter-menu-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
  row-gap: 1rem;
}

.filter-menu-option {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.05rem;
}

.sort-dropdown {
  position: relative;
}

.sort-select {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.25rem 0.25rem 0.5rem;
  font-weight: 500;
  border: 1px solid rgba(var(--inverse-color), 0.35);
  cursor: pointer;
  background-color: transparent;
}

.sort-chevron {
  width: 1.25rem;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgba(var(--primary-color));
  border: 1px solid rgba(var(--inverse-color), 0.35);
  border-left: none;
  pointer-events: none;
  transition: transform 200ms ease-in-out;
}

.sort-chevron.rotated {
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}

/*** Products ***/
.store-products-container {
  position: relative;
  width: 92.5%;
  min-height: calc(100dvh - 104px); /* Setting min-height because the filter-menu sort of has a fixed height */
  display: flex;
  margin: auto;
  padding: 0.65rem 0 0 0;
}

/* FIXME: Transitions are buggy on firefox */
.store-products-wrapper {
  width: 100%;
  transition: margin-left 200ms ease-in-out;
  /* transition: width 200ms ease-in-out, transform 200ms ease-in-out; */
}

.store-products-wrapper.with-filter {
  margin-left: 310px;
  /* width: calc(100% - 300px);
  transform: translateX(300px); */
}

.product-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 2px;
}

.show-more-btn-wrapper {
  width: 300px;
  margin: auto;
  animation: fade-in-up 400ms 500ms backwards;
}

.back-to-top-btn {
  display: block;
  margin: auto;
  color: var(--primary-text-color);
  font-weight: 700;
  animation: fade-in-up 400ms 500ms backwards;
}

.products-not-found {
  width: 375px;
  height: auto;
  min-height: 275px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  font-size: 18px;
  animation: fade-in-up 400ms 400ms backwards;
}

.product-card {
  position: relative;
  width: calc(25% - 1.5px);
  overflow: hidden;
  animation: fade-in-up 400ms 400ms backwards;
}

.product-card-image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1.25;
}

.product-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card-discount-badge {
  position: absolute;
  top: 2%;
  left: 2.5%;
  background: rgba(var(--secondary-color), 0.45);
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  padding: 0.1rem 0.25rem;
}

/* .product-wishlist-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2%;
  right: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--secondary-color), 0.45);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.product-wishlist-btn:hover {
  transform: scale(1.1);
} */

.product-out-of-stock-text {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--primary-color), 0.45);
}

.product-card-content {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0.5rem 1rem;
  font-family: var(--font-montserrat);
  font-size: 15px;
}

.product-card-content-details {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;
  padding-right: 1rem;
}

.product-card-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  transition: color 200ms ease;
}

.product-card-name:hover, .cart-page-header-name:hover {
  color: rgba(var(--link-text-color));
}

.product-card-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product-card-price, .product-card-price-discounted, .product-card-price-strike {
  font-weight: 400;
}

.product-card-price-discounted {
  font-weight: 500;
  color: rgba(215, 0, 0, 1)
}

.product-card-price-strike {
  color: rgba(var(--primary-text-color), 0.55);
  text-decoration: line-through;
}

.product-card-content-options {
  width: 25%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  row-gap: 1rem;
  padding: 0.25rem 0;
}

.dot-button {
  position: relative;
  width: 12.5px;
  height: 12.5px;
  border: 1px solid rgba(var(--inverse-color), 0.25);
  border-radius: 50%;
  background-color: var(--color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.dot-button::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--primary-text-color));
  transform: scaleX(0);
  transition: background-color 200ms ease, transform 200ms ease;
  transform-origin: bottom;
}

.dot-button.large {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(var(--inverse-color), 0.1);
}

.dot-button.selected::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

/*** Mobile & Media Queries ***/
.store-desktop {
  display: block;
}

.store-mobile {
  display: none;
}

.filter-btn.s-mobile {
  display: none;
}

@media (max-width: 1536px) {
  .filter-menu {
    width: 250px;
  }

  .store-products-wrapper.with-filter {
    margin-left: 260px;
  }

  .product-out-of-stock-text {
    height: 12.5%;
    font-size: 14px;
  }  

  .product-card {
    width: calc(33.33% - 1.5px);
  }
}

@media (max-width: 1280px) {
  .filter-menu {
    width: 220px;
  }

  .store-products-wrapper.with-filter {
    margin-left: 230px;
  }

  .product-card-content-details {
    width: 68.5%;
  }

  .product-card-content-options {
    width: 32.5%;
  }
}

@media (max-width: 1024px) {
  .store-desktop {
    display: none;
  }
  
  .store-mobile {
    display: block;
  }

  .products-not-found {
    width: 275px;
    height: calc(100dvh - (2rem + 66px + 2.5rem + 52.4px + 56.2px + 0.65rem + 336px)); /* Subtracting the padding, navbar, heading, and footer (not working as intended but it works) */
  }

  .store-products-section {
    padding: 1.5rem 0 2rem 0;
  }

  .store-products-title {
    font-size: 28px;
    text-align: center;
  }

  .filter-btn.s-desktop {
    display: none;
  }

  .filter-btn.s-mobile {
    display: flex;
  }

  .store-products-container {
    min-height: auto;
  }

  .store-products-wrapper.with-filter {
    margin-left: 0px;
    /* width: 100%;
    transform: translateX(0); */
  }

  .store-products-sort-container {
    top: 65px;
  }

  .filter-menu {
    width: 300px;
    position: fixed;
    top: 65px;
    height: calc(100dvh - 65px);
    max-height: 100dvh;
    padding: 0px 20px;
    border-top: 1px solid rgba(var(--inverse-color), 0.15);
    z-index: 10;
  }

  .product-card {
    width: calc(50% - 1.5px);
  }
  
  .product-card-content-options {
    width: 32.5%;
  }

  .product-card-content {
    height: 90px;
    font-size: 14px;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  }

}

@media (max-width: 460px) {
  .products-not-found {
    min-height: 50px;
    height: calc(100dvh - (2rem + 66px + 2.5rem + 52.4px + 56.2px + 0.65rem + 357px)); /* Subtracting the padding, navbar, heading, and footer (not working as intended but it works) */
  }

  .product-card-content-details {
    width: 68.5%;
    gap: 0;
    padding-right: 0.5rem;
  }
  
  .product-cards-container {
    column-gap: 1px;
  }

  .product-card-content-options {
    width: 32.5%;
    gap: 0.35rem;
    row-gap: 0.5rem;
  }
}

@media (max-width: 360px) {
  .product-card-content-details {
    padding-right: 0.1rem;
  }

  .product-card-price-wrapper {
    gap: 0.15rem;
  }
}

/*** Accessibility ***/
.visually-hidden {
  width: 0;
  height: 0;
  border: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/*** CSSTransition ***/
.filter-enter {
  transform: translateX(-100%);
}

.filter-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-in-out;
}

.filter-exit {
  transform: translateX(0);
}

.filter-exit-active {
  transform: translateX(-100%);
  transition: all 200ms ease-in-out;
}

/*** Scrollbar ***/
@supports selector(::-webkit-scrollbar) {
  .filter-menu::-webkit-scrollbar {
    width: 4px;
  }

  .filter-menu::-webkit-scrollbar-track {
    background: transparent;
  }
}