.store {
  position: relative;
  background-color: rgba(var(--primary-color));
}

.store-products-section {
  position: relative;
  width: 100%;
  min-height: calc(100dvh - 104px);
  font-family: var(--font-montserrat);
  font-size: 15px;
}

.loading-page {
  width: 100%;
  height: calc(100dvh - 104px + 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -5rem;
  gap: 1rem;
  font-family: var(--font-montserrat);
  animation: fade-in-up 400ms 200ms backwards;
}

/*** Header ***/
.store-products-title {
  width: 92.5%;
  text-align: start;
  margin: auto;
  padding: 1.5rem 0 0 0;
  font-family: var(--font-montserrat);
  font-size: 30px;
  text-shadow: 0px 0px 5px rgba(var(--inverse-color), 0.2);
  animation: fade-in-up 400ms 200ms backwards;
}

.store-products-sort-container {
  position: relative;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
  gap: 1rem;
  animation: fade-in-up 400ms 300ms backwards;
}

.filter-btn {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 20px;
  gap: 0.5rem;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(var(--inverse-color), 0.2);
  cursor: pointer;
  transition: height 300ms cubic-bezier(0.0, 0.7, 0.3, 1);
  background-color: transparent;
}

.sort-dropdown {
  position: relative;
}

.sort-select {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.25rem 0.25rem 0.5rem;
  font-weight: 500;
  border: 1px solid rgba(var(--inverse-color), 0.35);
  cursor: pointer;
  transition: height 300ms cubic-bezier(0.0, 0.7, 0.3, 1);
  background-color: transparent;
}

.sort-chevron {
  width: 1.25rem;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgba(var(--primary-color));
  border: 1px solid rgba(var(--inverse-color), 0.35);
  border-left: none;
  pointer-events: none;
  transition: transform 200ms ease-in-out;
}

.sort-chevron.rotated {
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}

/*** Products ***/
.store-products-container {
  position: relative;
  width: 92.5%;
  display: flex;
  margin: auto;
}

.filter-menu {
  position: absolute;
  left: 0;
  width: 300px;
  padding: 10px 20px;
  overflow-y: scroll;
  box-shadow: 0 0 5px rgba(var(--inverse-color), 0.2);
}

.store-products-wrapper {
  width: 100%;
  transition: margin-left 200ms ease-in-out;
}

.store-products-wrapper.with-filter {
  margin-left: 316px;
}

.product-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 2px;
}

.show-more-btn-wrapper {
  width: 300px;
  margin: auto;
  animation: fade-in-up 400ms 500ms backwards;
}

.products-none-found {
  margin: auto;
  animation: fade-in-up 400ms 400ms backwards;
}

.product-card {
  position: relative;
  width: calc(25% - 1.5px);
  overflow: hidden;
  animation: fade-in-up 400ms 400ms backwards;
}

.product-card-image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1.25;
}

.product-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card-content {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0.5rem 1rem;
  font-family: var(--font-montserrat);
  font-size: 15px;
}

.product-card-content-details {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;
}

.product-card-name {
  padding-right: 1rem;
  font-weight: 600;
  transition: color 200ms ease;
}

.product-card-name:hover, .cart-page-header-name:hover {
  color: rgba(var(--link-text-color));
}

.product-card-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product-card-discount-badge {
  display: inline-block;
  background: rgba(var(--secondary-color));
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  padding: 0.1rem 0.25rem;
}

.product-card-price, .product-card-price-discounted, .product-card-price-strike {
  font-weight: 400;
}

.product-card-price-discounted {
  font-weight: 500;
  color: rgba(215, 0, 0, 1)
}

.product-card-price-strike {
  color: rgba(var(--primary-text-color), 0.55);
  text-decoration: line-through;
}

.product-card-content-options {
  width: 25%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

.dot-button {
  position: relative;
  width: 12.5px;
  height: 12.5px;
  border: 1px solid rgba(var(--inverse-color), 0.33);
  border-radius: 50%;
  background-color: var(--color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.dot-button::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--primary-text-color));
  transform: scaleX(0);
  transition: background-color 200ms ease, transform 200ms ease;
  transform-origin: bottom;
}

.dot-button.selected::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

/*** Accessibility ***/
.visually-hidden {
  width: 0;
  height: 0;
  border: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/*** CSSTransition ***/
.filter-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.filter-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms ease-in-out;
}

.filter-exit {
  opacity: 1;
  transform: translateX(0)
}

.filter-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 200ms ease-in-out;
}