/****************** User ******************/
.user-btn, .user-btn-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  gap: 0.25rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 10px;
}

.user-btn-focus, .user-btn:hover {
  background-color: rgba(var(--secondary-color), 1);
}

.user-icon {
  width: 25px;
  height: 25px;
}

/*** Mobile & Media Queries ***/
.user-btn-mobile {
  display: none;
}

.user-dropdown-header {
  display: block;
}

@media (max-width: 1536px) {
  .user-dropdown-header {
    display: none;
  }
}

@media (max-width: 1024px) {
  .user-btn-mobile{
    display: block;
  }
}

/****************** Dropdown Content ******************/
.user-dropdown-btn {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 10px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 15px;
  color: rgba(var(--secondary-text-color));
  border-width: 1px;
  border-color: black;
  background-color: rgba(var(--primary-button-color));
  transform: scale(1);
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out, transform 200ms ease;
}

.user-dropdown-btn:hover {
  color: rgba(var(--primary-text-color));
  background-color: rgba(var(--primary-hover-button-color))
}

.user-dropdown-btn:active {
  transform: scale(0.9);
}