/****************** User ******************/
.user-btn, .user-btn-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  gap: 0.66rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 5px;
}

.user-btn-focus, .user-btn:hover {
  background-color: rgba(var(--secondary-color));
}

.user-icon {
  width: 25px;
  height: 25px;
}