/****************** User ******************/
.user-btn, .user-btn-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  gap: 0.25rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 10px;
}

.user-btn-focus, .user-btn:hover {
  background-color: rgba(var(--secondary-color), 1);
}

.user-icon {
  width: 25px;
  height: 25px;
}

/*** Mobile & Media Queries ***/
.user-btn-mobile {
  display: none;
}

@media (max-width: 1536px) {
  .user-btn, .user-btn-focus {
    display: none;
  }

  .user-btn-mobile{
    display: block;
    position: relative;
  }
}