/****************** User ******************/
.user {
  position: relative
}

.user-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.66rem;
  font-family: var(--font-montserrat);
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 5px;
}

.user-btn:hover {
  background-color: rgba(var(--secondary-color));
}

.user-icon {
  width: 30px;
  height: 30px;
}