@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Values */
:root {
  --keyframe-y-offset: 30px;

  --primary-color: 255, 255, 255;
  --inverse-color: 35, 35, 35;
  --secondary-color: 240, 240, 242;

  --banner-color: 121, 190, 255;
  --banner-text-color: 10, 65, 155;

  --search-border-color: 10, 10, 10;
  --input-border-color: 10, 10, 10;

  --link-text-color: 15, 127, 255;
  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 255, 255, 255;

  --primary-button-color: 35, 35, 35;
  --secondary-button-color: 85, 85, 85;
  --tertiary-button-color: 235, 235, 240;

  --red-button-color: 255, 70, 70;
  --orange-button-color: 255, 140, 0;
  --yellow-button-color: 255, 255, 0;
  --green-button-color: 110, 255, 0;
  --blue-button-color: 100, 149, 237;
  --violet-button-color: 155, 0, 255;

  --primary-hover-button-color: 255, 255, 255;
  --secondary-hover-button-color: 65, 65, 65;

  --dot-button-color: 185, 185, 195;
}

.light {
  --primary-color: 255, 255, 255;
  --inverse-color: 35, 35, 35;
  --secondary-color: 240, 240, 242;

  --banner-color: 121, 190, 255;
  --banner-text-color: 10, 65, 155;

  --search-border-color: 10, 10, 10;
  --input-border-color: 10, 10, 10;

  --link-text-color: 15, 127, 255;
  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 255, 255, 255;

  --primary-button-color: 35, 35, 35;
  --secondary-button-color: 85, 85, 85;
  --tertiary-button-color: 235, 235, 240;

  --primary-hover-button-color: 255, 255, 255;
  --secondary-hover-button-color: 65, 65, 65;

  --dot-button-color: 185, 185, 195;
}

.dark {
  --primary-color: 35, 35, 35;
  --inverse-color: 255, 255, 255;
  --secondary-color: 55, 55, 58;

  --banner-color: 121, 190, 255;
  --banner-text-color: 10, 65, 155;

  --search-border-color: 245, 245, 245;

  --input-border-color: 10, 10, 10;

  --link-text-color: 15, 127, 255;
  --primary-text-color: 255, 255, 255;
  --secondary-text-color: 0, 0, 0;

  --primary-button-color: 35, 35, 35;
  --secondary-button-color: 85, 85, 85;
  --tertiary-button-color: 235, 235, 240;

  --primary-hover-button-color: 255, 255, 255;
  --secondary-hover-button-color: 65, 65, 65;

  --dot-button-color: 185, 185, 195;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/*** KEYFRAMES ***/
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--keyframe-y-offset)));
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(var(--keyframe-y-offset));
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(var(--keyframe-y-offset));
  }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--keyframe-y-offset)));
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  font-family: var(--font-roboto), sans-serif;
  color: rgba(var(--primary-text-color));
}

h1 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 36px;
}

.header {
  position: sticky;
  top: 0%;
  z-index: 10;
}

.dollar-sign {
  font-family: var(--font-roboto);
}