@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.light {
  --primary-color: 255, 255, 255;
  --secondary-color: 35, 35, 35;

  --banner-color: 121, 190, 255;
  --banner-text-color: 50, 120, 225;

  --input-border-color: 10, 10, 10;

  --login-menu-color: 55, 55, 55;

  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 255, 255, 255;

  --primary-button-color: 35, 35, 35;
  --secondary-button-color: 255, 255, 255;

  --primary-hover-button-color: 255, 255, 255;
  --secondary-hover-button-color: 65, 65, 65;

  --carousel-background-color: 50, 50, 50;
  
}

.dark {
  --primary-color: 35, 35, 35;
  --secondary-color: 100, 100, 100;

  --banner-color: 121, 190, 255;
  --banner-text-color: 50, 120, 225;

  --search-border-color: 245, 245, 245;

  --login-menu-color: 55, 55, 55;

  --primary-text-color: 255, 255, 255;
  --secondary-text-color: 0, 0, 0;

  --primary-button-color: 255, 255, 255;
  --secondary-button-color: 35, 35, 35;

  --primary-hover-button-color: 35, 35, 35;
  --secondary-hover-button-color: 255, 255, 255;

  --carousel-background-color: 50, 50, 50;
}

body {
  font-family: var(--font-lora), sans-serif;
  color: rgba(var(--primary-text-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 36px;
}

.home {
  background-color: rgba(var(--primary-color));
  width: 100vw;
  height: 100rem;
}

.carousel-container {
  width: 100%;
  height: 48rem;
  position: relative;
  background-color: rgba(var(--carousel-background-color));
  overflow: hidden;
}

.slide-content {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  
}

.slide-h1 {
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  position: relative;
}

.slide-h1::after {
  content: attr(data-text);
  position: absolute;
  top: 3px;
  left: 1px;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.33);
  z-index: -1;
}

.slide-btn {
  width: 250px;
  background-color: #232323;
  padding: 0.66rem;
  border-radius: 0px;
  border-width: 1px;
  border-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-family: var(--font-montserrat);
  color: white;
  transition: all 200ms ease-in-out;
  font-size: 18px;
  position: relative;
}

.slide-btn:hover {
  background-color: white;
  color: black;
}

/* .slide-btn::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 98%;
  height: 100%;
  transform: translateX(-50%);
  background-color: black;
  z-index: -1;
} */