@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/*** KEYFRAMES ***/
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light {
  --primary-color: 255, 255, 255;
  --inverse-color: 35, 35, 35;
  --secondary-color: 235, 235, 238;

  --banner-color: 121, 190, 255;
  --banner-text-color: 10, 65, 155;

  --search-border-color: 10, 10, 10;

  --input-border-color: 10, 10, 10;

  --login-menu-color: 55, 55, 55;

  --link-text-color: 15, 127, 255;
  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 255, 255, 255;

  --primary-button-color: 35, 35, 35;
  --secondary-button-color: 85, 85, 85;
  --tertiary-button-color: 185, 185, 195;

  --primary-hover-button-color: 255, 255, 255;
  --secondary-hover-button-color: 65, 65, 65;

  --carousel-background-color: 50, 50, 50;
}

.dark {
  --primary-color: 35, 35, 35;
  --inverse-color: 255, 255, 255;
  --secondary-color: 55, 55, 58;

  --banner-color: 121, 190, 255;
  --banner-text-color: 10, 65, 155;

  --search-border-color: 245, 245, 245;

  --input-border-color: 10, 10, 10;

  --login-menu-color: 55, 55, 55;

  --link-text-color: 15, 127, 255;
  --primary-text-color: 255, 255, 255;
  --secondary-text-color: 0, 0, 0;

  --primary-button-color: 35, 35, 35;
  --secondary-button-color: 85, 85, 85;
  --tertiary-button-color: 185, 185, 195;

  --primary-hover-button-color: 255, 255, 255;
  --secondary-hover-button-color: 65, 65, 65;

  --carousel-background-color: 50, 50, 50;
}

/* Set focus outline color universally for better contrast */
/* :focus {
  outline: 3px solid #007BFF;
} */

body {
  font-family: var(--font-lora), sans-serif;
  color: rgba(var(--primary-text-color));
}

h1 {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 36px;
}