/****************** Carousel ******************/
.carousel-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  transform: translateX(-62.5%); /* Shift left to center the image at currentIndex */
  position: absolute;
}

.carousel-image-wrapper {
  width: 75%;
  height: 100%;
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
  border-color: rgba(var(--primary-button-color));
  flex-shrink: 0;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-image-wrapper::before {
  content:'';
  position: absolute;
  width: 75%;
  height: 100%;
  /* box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1); */
}

.carousel-left-btn, .carousel-right-btn {
  width: 12.5%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
  backdrop-filter: blur(5px) grayscale(66.66%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 200ms ease-in-out;
}

.carousel-left-btn {
  left: 0%;
}

.carousel-right-btn {
  right: 0%;
}

.carousel-left-btn:hover, .carousel-right-btn:hover {
  backdrop-filter: blur(0px) grayscale(0%);
}

.carousel-left-btn:hover .carousel-left-arrow, .carousel-right-btn:hover .carousel-right-arrow {
  transform: scale(1.25);
}

.carousel-left-arrow, .carousel-right-arrow {
  width: 50px;
  height: 50px;
  opacity: 80%;
  fill: white;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
  margin: auto;
  transition: all 200ms ease-in-out;
}

.carousel-dots-wrapper {
  display: flex;
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  gap: 0.5rem;
}
.carousel-dot {
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-radius: 100%;
}

/* Translate 33.33% left and right respectively since that the width of the images; NOT NEEDED: since there is a buffer image before the very "first one", the transitions start -33.33% to the left. */
.slide-left-enter {
  transform: translateX(calc(-62.5% + 75% * var(--index)));              /* Start translating the new element from the right */
}

.slide-left-enter-active {
  transform: translateX(-62.5%);                                  /* Position of the new element when it is done transitioning */
  transition: all 400ms ease-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-left-exit {
  transform: translateX(-62.5%);                                  /* Start translating the current element to start exiting to the left */
}

.slide-left-exit-active {
  transform: translateX(calc(-62.5% - 75% * var(--index)));            /* Position when the current element is finished transitioning offscreen */
  transition: all 400ms ease-in;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-right-enter {
  transform: translateX(calc(-62.5% - 75% * var(--index)));            /* Start translating the new element from the left */
}

.slide-right-enter-active {
  transform: translateX(-62.5%);                                  /* Position of the new element when it is done transitioning */
  transition: all 400ms ease-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-right-exit {
  transform: translateX(-62.5%);                                  /* Start translating the current element to start exiting to the right */
}

.slide-right-exit-active {
  transform: translateX(calc(-62.5% + 75% * var(--index)));              /* Position when the current element is finished transitioning offscreen */
  transition: all 400ms ease-in;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}