/****************** Carousel ******************/
.carousel-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* transform: translateX(-33.33%); Shift container to the left to hide the first buffer image */
  position: absolute;
}

.carousel-image {
  width: 33.33%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.carousel-left-btn {
  width: 75px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.carousel-right-btn {
  width: 75px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.carousel-left-arrow {
  width: 50px;
  height: 50px;
  opacity: 80%;
  fill: rgba(var(--secondary-button-color));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
  margin: auto
}

.carousel-right-arrow {
  width: 50px;
  height: 50px;
  opacity: 80%;
  fill: rgba(var(--secondary-button-color));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
  margin: auto
}

/* Translate 33.33% left and right respectively since that the width of the images; NOT NEEDED: since there is a buffer image before the very "first one", the transitions start -33.33% to the left. */
.slide-left-enter {
  transform: translateX(33.33%);              /* Start translating the new element from the right */
}

.slide-left-enter-active {
  transform: translateX(-0%);                 /* Position when it is done transitioning */
  transition: transform 300ms ease-in-out;
}

.slide-left-exit {
  transform: translateX(-0%);                 /* Starting position to start exiting */
}

.slide-left-exit-active {
  transform: translateX(-33.33%);             /* Start translating the new element to the left */
  transition: transform 300ms ease-in-out;
}

.slide-right-enter {
  transform: translateX(-33.33%);             /* Start translating the new element from the left */
}

.slide-right-enter-active {
  transform: translateX(-0%);                 /* Position when it is done transitioning */
  transition: transform 300ms ease-in-out;
}

.slide-right-exit {
  transform: translateX(-0%);                 /* Starting position to start exiting */
}

.slide-right-exit-active {
  transform: translateX(33.33%);              /* Start translating the new element to the right */
  transition: transform 300ms ease-in-out;
}