/****************** Carousel ******************/
.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  transform: translateX(var(--shift)); /* Shift left to center the image at currentIndex */
  position: absolute;
}

.carousel-image-wrapper {
  position: relative;
  width: var(--width);
  height: 100%;
  flex-shrink: 0;
  border-left: var(--border-width) solid rgba(var(--inverse-color));
  border-right: var(--border-width) solid rgba(var(--inverse-color));
}

.carousel-image-wrapper .blur-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px) grayscale(66.66%);
  backdrop-filter: blur(5px) grayscale(66.66%);
  transition: all 200ms ease-in-out;
  pointer-events: none;
  
}

.carousel-image-wrapper.no-blur .blur-overlay {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  transition: all 200ms ease-in-out;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-left-btn, .carousel-right-btn {
  width: calc(var(--btn-size) - ((var(--border-width) / 2) + (var(--border-width) * 0.1)));
  height: 100%;
  position: absolute;
  top: 0%;
  transition: all 200ms ease-in-out;
}

.carousel-left-btn {
  left: 0%;
}

.carousel-right-btn {
  right: 0%;
}

.carousel-left-arrow, .carousel-right-arrow {
  width: var(--nav-arrow-size);
  height: var(--nav-arrow-size);
  margin: auto;
  opacity: 0;
  fill: rgba(255, 255, 255, 0.65);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
  transition: all 200ms ease-in-out;
}

.carousel-container:hover .carousel-left-btn .carousel-left-arrow, .carousel-container:hover .carousel-right-btn .carousel-right-arrow {
  opacity: 1;
  /* transform: scale(1.25); */
}

.carousel-dots-wrapper {
  width: 35%;
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.carousel-dot {
  width: calc(100% / var(--total));
  height: 15px;
  border-width: 1px;
  border-radius: 2rem;
  border-color: rgba(var(--dot-button-color), 1);
  background-color: rgba(var(--dot-button-color), 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
  transform: scale(1);
  transition: all 200ms ease-in-out;
}

.carousel-dot.selected {
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.15);
}


.carousel-dot:hover {
  border-color: white;
  background-color: white;
}

.carousel-dots-wrapper.slim {
  width: 100%;
  bottom: -4px;
  left: 0;
  gap: 0;
  transform: none;
}

.carousel-dot.slim {
  width: calc(100% / var(--total));
  height: 4px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(var(--dot-button-color), 0.5);
}

.carousel-dot.slim:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-dot.slim.selected {
  border: none;
  background-color: rgba(var(--inverse-color), 1);
  transform: none;
}

/*** Mobile & Media Queries ***/
.carousel-mobile-only {
  display: none;
}

@media (max-width: 1024px) {
  .carousel-mobile-only {
    display: block;
  }

  .carousel-left-arrow, .carousel-right-arrow {
    display: none;
  }

  .carousel-dots-wrapper {
    width: 100%;
    gap: 4%;
  }

  .carousel-dots-wrapper.slim {
    bottom: -3px;
  }

  .carousel-dot {
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-radius: 100%;
    border-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
    transform: scale(1);
    transition: all 200ms ease-in-out;
  }

  .carousel-dot.selected {
    border-color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.75);
  }

  .carousel-dot.slim {
    height: 3px;
  }
}


/*** CSSTransition ***/
.slide-left-enter {
  transform: translateX(calc(var(--shift) + var(--width) * var(--index)));              /* Start translating the new element from the right */
}

.slide-left-enter-active {
  transform: translateX(var(--shift));                                         /* Position of the new element when it is done transitioning */
  transition: all 400ms ease-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-left-exit {
  transform: translateX(var(--shift));                                        /* Start translating the current element to start exiting to the left */
}

.slide-left-exit-active {
  transform: translateX(calc(var(--shift) - var(--width) * var(--index)));             /* Position when the current element is finished transitioning offscreen */
  transition: all 400ms ease-in;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-right-enter {
  transform: translateX(calc(var(--shift) - var(--width) * var(--index)));             /* Start translating the new element from the left */
}

.slide-right-enter-active {
  transform: translateX(var(--shift));                                        /* Position of the new element when it is done transitioning */
  transition: all 400ms ease-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-right-exit {
  transform: translateX(var(--shift));                                        /* Start translating the current element to start exiting to the right */
}

.slide-right-exit-active {
  transform: translateX(calc(var(--shift) + var(--width) * var(--index)));             /* Position when the current element is finished transitioning offscreen */
  transition: all 400ms ease-in;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* Accessibility */
.skip-link {
  width: 0;
  height: 0;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus-visible {
  top: 2.5%;
  left: 2.5%;
  width: auto;
  height: auto;
  border: 1px solid black;
  background-color: white;
  margin: 0;
  padding: 0.5rem;
  clip: unset;
  text-decoration: none;
  color: black;
  z-index: 100;
}