/****************** Carousel ******************/
.carousel-image-container {
  width: 100%;
  height: calc(100% - var(--thumbnail-height));
  display: flex;
  transform: translateX(var(--shift)); /* Shift left to center the image at currentIndex */
  position: absolute;
}

.carousel-image-wrapper {
  width: var(--width);
  height: 100%;
  border-left-width: var(--border-width);
  border-right-width: var(--border-width);
  border-color: rgba(var(--inverse-color));
  flex-shrink: 0;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-left-btn, .carousel-right-btn {
  width: calc(var(--btn-size) - ((var(--border-width) / 2) + (var(--border-width) * 0.1)));
  height: calc(100% - var(--thumbnail-height));;
  backdrop-filter: blur(5px) grayscale(66.66%);
  position: absolute;
  top: 0%;
  /* top: 50%;
  transform: translateY(-50%); */
  transition: all 200ms ease-in-out;
}

.carousel-left-btn {
  left: 0%;
}

.carousel-right-btn {
  right: 0%;
}

.carousel-left-btn:hover, .carousel-right-btn:hover {
  backdrop-filter: blur(0px) grayscale(0%);
}

.carousel-left-btn:hover .carousel-left-arrow, .carousel-right-btn:hover .carousel-right-arrow {
  transform: scale(1.25);
}

.carousel-left-arrow, .carousel-right-arrow {
  width: 50px;
  height: 50px;
  opacity: 80%;
  fill: white;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
  margin: auto;
  transition: all 200ms ease-in-out;
}

.carousel-dots-wrapper {
  width: 30%;
  display: flex;
  position: absolute;
  bottom: calc(5% + var(--thumbnail-height));
  left: 50%;
  transform: translateX(-50%);
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.carousel-dot, .carousel-dot-selected {
  width: calc(100% / var(--total));
  height: 15px;
  border-width: 1px;
  border-radius: 2rem;
  border-color: rgba(var(--dot-button-color));
  background-color: rgba(var(--dot-button-color));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
  transform: scale(1);
  transition: all 200ms ease-in-out;
}

.carousel-dot-selected {
  border-color: white;
  background-color: white;
  transform: scale(1.15);
}

.carousel-dot:hover {
  border-color: white;
  background-color: white;
}

.carousel-thumbnail-container {
  width: 100%;
  height: var(--thumbnail-height);
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: opacity 200ms ease-in-out;
  z-index: 1;
}

.carousel-thumbnail-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: safe center;
  align-items: center;
  gap: 2%;
  padding: 0.66rem;
  padding-left: 0.35rem;
  padding-right: 0.4rem;
  overflow-x: auto;
  scrollbar-width: thin;
}

.carousel-thumbnail, .carousel-thumbnail-selected {
  aspect-ratio: 1.33 / 1;
  height: 100%;
  border: 1px solid rgba(var(--inverse-color), 0.25);
  transform: scale(1);
  transition: border 200ms linear, box-shadow 200ms linear, transform 100ms linear;
}

.carousel-thumbnail-selected {
  transform: scale(1.05);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-thumbnail:hover {
  transform: scale(1.05);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


/*** CSSTransition ***/
.slide-left-enter {
  transform: translateX(calc(var(--shift) + var(--width) * var(--index)));              /* Start translating the new element from the right */
}

.slide-left-enter-active {
  transform: translateX(var(--shift));                                         /* Position of the new element when it is done transitioning */
  transition: all 400ms ease-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-left-exit {
  transform: translateX(var(--shift));                                        /* Start translating the current element to start exiting to the left */
}

.slide-left-exit-active {
  transform: translateX(calc(var(--shift) - var(--width) * var(--index)));             /* Position when the current element is finished transitioning offscreen */
  transition: all 400ms ease-in;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-right-enter {
  transform: translateX(calc(var(--shift) - var(--width) * var(--index)));             /* Start translating the new element from the left */
}

.slide-right-enter-active {
  transform: translateX(var(--shift));                                        /* Position of the new element when it is done transitioning */
  transition: all 400ms ease-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-right-exit {
  transform: translateX(var(--shift));                                        /* Start translating the current element to start exiting to the right */
}

.slide-right-exit-active {
  transform: translateX(calc(var(--shift) + var(--width) * var(--index)));             /* Position when the current element is finished transitioning offscreen */
  transition: all 400ms ease-in;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* Accessibility */
.skip-link {
  width: 0;
  height: 0;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus-visible {
  top: 2.5%;
  left: 2.5%;
  width: auto;
  height: auto;
  border: 1px solid black;
  background-color: white;
  margin: 0;
  padding: 0.5rem;
  clip: unset;
  text-decoration: none;
  color: black;
  z-index: 100;
}