/****************** Accordion Menu ******************/
.accordion-menu-container {
  position: relative;
  height: var(--height);
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.0, 0.7, 0.3, 1);
}

.open {
  height: calc(var(--height) + var(--content-height));
}

.accordion-hr {
  box-sizing: initial;
  border: 0px;
  border-top: 1px solid rgba(var(--inverse-color), 0.25);
}

.accordion-menu-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding) 0;
  cursor: pointer;
}

.accordion-menu-title {
  height: 25px;
  display: flex;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  font-weight: 600;
}

.accordion-menu-icon {
  transition: transform 200ms ease-in-out;
}

.accordion-menu-icon-rotated {
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}

.accordion-menu-icon-svg {
  width: 1rem;
  height: 1rem;
}

.accordion-menu-content {
  display: block;
  cursor: default;
  text-align: start;
  padding-bottom: var(--padding);
}

.ul-list-wrapper {
  padding: 0.25rem 2rem;
}

.ul-list {
  list-style-type: square;
}

.accordion-key {
  display: inline;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 14px;
}

.accordion-value, .accordion-description {
  display: inline;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
}

.accordion-description {
  display: block;
}

.accordion-description + .accordion-description {
  margin-top: 0.5rem;
}
