/****************** Accordion Menu ******************/
.accordion-menu-container {
  position: relative;
  height: 48px;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.0, 0.7, 0.3, 1);
}

.open {
  height: calc(50px + var(--height));
}

.accordion-hr {
  box-sizing: initial;
  border: 0px;
  border-top: 1px solid rgba(var(--inverse-color), 0.25);
}

.accordion-menu-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  cursor: pointer;
}

.accordion-menu-title {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 600;
}

.accordion-menu-icon {
  transition: transform 200ms ease-in-out;
}

.accordion-menu-icon-rotated {
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}

.accordion-menu-content {
  display: block;
  padding-bottom: 0.75rem;
  cursor: default;
  text-align: start;
}

.ul-list-wrapper {
  padding: 1rem 2rem;
}

.ul-list {
  list-style-type: square;
}

.accordion-key {
  display: inline;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 15px;
}

.accordion-value {
  display: inline;
  display: inline;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 15px;
}