/****************** Rating ******************/
.rating-container {
  position: relative;
  display: flex;
  align-items: center;
}

.star {
  width: 18px;
  height: 18px;
  fill: rgba(var(--review-star-color));
}

.filled {
  fill: rgba(var(--review-star-filled-color));
}

.rating-value {
  margin-left: 0.35rem;
}
