/****************** auth ******************/
.auth-section {
  width: 100vw;
  height: auto;
  background-color: rgba(var(--primary-color));
}

.auth-container {
  width: 400px;
  /* background-color: rgba(var(--secondary-color)); */
  border-width: 1px;
  border-color: rgba(var(--input-border-color), 0.2);
  border-radius: 1rem;
  margin: auto;
  margin-top: 5rem;
  font-family: var(--font-montserrat);
}

.auth-container h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input-container {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.input-container h2 {
  margin-bottom: 0.5rem;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  opacity: 0.25;
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 1;
}

.input-field {
  width: 100%;
  outline: none; /* TODO: Replace this */
  border-width: 1px;
  border-color: rgba(var(--input-border-color), 0.45);
  opacity: 0.8;
  padding: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.auth-btn {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  background-color: rgba(var(--primary-button-color));
  border-width: 1px;
  border-color: rgba(var(--input-border-color));
  padding: 0.5rem;
  color: white;
  transition: all 200ms ease-in-out;
}

.auth-btn:hover {
  background-color: rgba(var(--primary-hover-button-color));
  color: black;
}

.additional-actions {
  width: 100%;
  text-align: center;
}

.auth-link, .auth-link2 {
  display: inline-block;
  position: relative;
  margin: auto;
  transition: all 200ms ease-in-out;
}

.auth-link {
  margin-bottom: 1rem;
}

.auth-link2 {
  margin-bottom: 3rem;
}

.auth-link:hover, .auth-link2:hover {
  color: rgb(15, 127, 255);
}

.auth-link::after, .auth-link2::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--primary-text-color));
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: bottom;
}

.auth-link:hover::after, .auth-link2:hover::after {
  background-color: rgba(15, 127, 255, 1);
  transform: scaleX(1);
  transform-origin: bottom;
}

.other-btn {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  background-color: rgba(var(--secondary-button-color));
  border-width: 1px;
  border-color: rgba(var(--input-border-color));
  padding: 0.5rem;
  color: white;
  transition: all 200ms ease-in-out;
}

.other-btn:hover {
  background-color: rgba(var(--primary-hover-button-color));
  color: black;
}


