/****************** Navbar ******************/
.navbar {
  width: 100vw;
  height: auto;
  background-color: rgba(var(--primary-color));
  z-index: 10;
  position: relative
}

.navbar-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-header, .navbar-header-logo {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-header-logo {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.navbar-theme-icons-container, .navbar-icons-container {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-theme-icons-container{
  justify-content: start;
}

.navbar-icons-container {
  justify-content: end;
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-logo {
  width: 150px;
  height: 100%;
}

.navbar-navigation {
  width: 100%;
}

.navbar-navigation-list {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  background-color: rgba(var(--inverse-color));
  color: rgba(var(--secondary-text-color));
}

.navbar-navigation-links {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  position: relative;
}

.navbar-navigation-links::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--secondary-text-color));
  transform: scaleX(0);
  transition: transform 200ms ease;
  transform-origin: bottom right;
}

.navbar-navigation-links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hidden-theme {
  display: none;
}