/****************** Home ******************/
.home {
  position: relative;
  background-color: rgba(var(--primary-color));
}

.home-carousel-container {
  aspect-ratio: 2.25/1;
  width: 100%;
  position: relative;
  animation: fade-in-up 500ms 200ms backwards;
  overflow: hidden;
}

.slide-content {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.slide-btn {
  width: 100%;
  background-color: #232323;
  padding: 0.66rem;
  border-radius: 0px;
  border-width: 1px;
  border-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-family: var(--font-montserrat);
  color: white;
  transition: all 200ms ease-in-out;
  font-size: 18px;
  position: relative;
  /* animation: fade-in-up 500ms 400ms backwards; */
}

.slide-btn::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  width: 98%;
  height: 100%;
  transform: translateX(-50%);
  background-color: black;
  opacity: 0;
  transition: all 200ms ease-in-out;
  z-index: -1;
}

.slide-btn:hover {
  background-color: white;
  color: black;
}

.slide-btn:hover::after {
  opacity: 1;
}

/*** Mobile & Media Queries ***/
.home-desktop {
  display: block;
  width: 100%;
  height: 100%;
}

.home-mobile {
  display: none;
}

@media (max-width: 1536px) {
  .home-carousel-container {
    height: calc(100dvh - 104px - 120px);
    min-height: 500px;
  }
}

@media (max-width: 1280px) {
  .home-carousel-container {
    height: calc(100dvh - 104px);
    min-height: 500px;
  }
}

@media (max-width: 1280px) {
  .home-desktop {
    display: none;
  }

  .home-mobile {
    display: block;
    width: 100%;
    height: 100%;
  }

  .home-carousel-container {
    height: calc(100dvh - 104px);
    min-height: 500px;
  }
}

@media (max-width: 1024px) {
  .home-carousel-container {
    height: calc(100dvh - 66px);
    min-height: 500px;
  }
}

@media (max-width: 450px) {
  .slide-content {
    width: 250px;
  }
}