/****************** Profile ******************/
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative
}

.profile-icon {
  width: 30px;
  height: 30px;
}

.profile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 2rem;
  right: 0;
  background-color: rgba(var(--login-menu-color));
  border-width: 1px;
  border-color: black;
  gap: 2vh;
  overflow: hidden;
  height: 175px;
}

.profile-menu-link {
  padding: 24px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  color: rgba(var(--secondary-text-color));
}

/* CSS Transition */
.menu-enter {
  height: 0px;
}

.menu-enter-active {
  height: 175px;
  transition: all 100ms linear;
}

.menu-exit {
  height: 175px;
}

.menu-exit-active {
  height: 0px;
  transition: all 100ms linear;
}

