/****************** Product ******************/
.product {
  position: relative;
  background-color: rgba(var(--primary-color));
}

.product-container {
  position: relative;
  display: grid;
  grid-template-columns: 64% 1fr;
  justify-items: center;
  margin: auto;
  width: 75%;
  padding: 1.25rem 0;
  gap: 1.5rem;
  animation: fade-in-up 400ms 200ms backwards;
}

.product-gallery-container {
  position: sticky;
  top: calc(104px + 1.25rem);
  width: 100%;
  height: calc(100vh - 104px - (1.25rem * 2));
  overflow-y: scroll;
  scrollbar-width: none;
}

.product-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-h2 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 20px;
}

.product-h3 {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 15px;
}

.product-h4 {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 15px;
}

.product-content-header {
  margin-bottom: -0.9rem;
}

.product-discount-badge {
  display: inline-block;
  margin-bottom: 0.35rem;
  background: rgba(var(--secondary-color));
  padding: 0.25rem 0.35rem;
  font-weight: 700;
}

.product-price-wrapper {
  display: inline-flex;
  gap: 0.5rem;
}

.product-price, .product-price-discounted, .product-price-strike {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 17px;
}

.product-price-discounted {
  color: rgba(215, 0, 0, 1)
}

.product-price-strike {
  color: rgba(var(--primary-text-color), 0.45);
  text-decoration: line-through;
}

.product-options-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-options-header {
  display: flex;
  gap: 0.35rem;
}

.product-options-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-family: var(--font-montserrat);
}

.product-option-btn, .product-option-btn-selected, .product-option-btn-disabled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--width);
  height: var(--height);
  border: 1px solid rgba(var(--inverse-color), 0.25);
  transition: border 150ms linear, box-shadow 150ms linear, font-weight 25ms linear;
}

.product-option-btn-disabled {
  background-color: rgba(var(--inverse-color), 0.1);
  opacity: 0.4;
}

.product-option-btn-selected {
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, var(--bs-opacity));
}

.product-option-btn:hover {
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, var(--bs-opacity));
}

.product-option-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-btn, .product-btn2 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 12px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 15px;
  color: rgba(var(--secondary-text-color));
  border-width: 1px;
  border-color: black;
  background-color: rgba(var(--primary-button-color));
  transform: scale(1);
  transition: all var(--duration) linear, color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.product-btn2 {
  color: rgba(var(--primary-text-color));
  background-color: rgba(var(--tertiary-button-color));
}

.product-btn:hover {
  color: rgba(var(--primary-text-color));
  background-color: rgba(var(--primary-hover-button-color))
}

.product-btn2:hover {
  color: rgba(var(--secondary-text-color));
  background-color: rgba(var(--secondary-hover-button-color))
}

.product-details-container {
  display: flex;
  flex-direction: column;
}

/*** CSSTransition ***/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}