/****************** Mobile Navbar ******************/
.navbar-hamburger-container {
  display: none;
}

.nav-mobile-menu-container {
  display: none;
}

@media (max-width: 1024px) {  
  .navbar-hamburger-container {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -5px;
  }

  .navbar-hamburger {
    width: 25px;
    height: 25px;
    margin: auto;
  }

  .nav-mobile-menu-container {
    display: block;
    width: 340px;
    height: calc(100dvh - 65px);
    position: fixed;
    top: calc(0% + 65px);
    right: 0;
    background-color: rgba(var(--primary-color));
    font-family: var(--font-montserrat);
    border-top: 1px solid rgba(var(--inverse-color), 0.15);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--scrollbar-color), 1) transparent;
    scrollbar-gutter: stable;
    z-index: 10;
  }

  .multi-menu-wrapper {
    margin-bottom: var(--height);
    transition: margin 300ms ease-in-out;
  }

  .multi-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 1.5rem;
    font-weight: 500;
  }

  .multi-menu-back-btn {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 1rem;
    padding: 0.75rem 0rem;
    border-bottom: 1px solid rgba(var(--inverse-color), 0.25);
    font-weight: 500;
  }

  .user-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: rgba(var(--secondary-color));
    font-weight: 400;
    font-size: 15px;
  }

  .mobile-nav-custom-link {
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    transition: color 200ms ease-in-out;
  }

  .mobile-nav-svg-icon {
    width: 22.5px;
    height: 22.5px;
    transition: color 200ms ease-in-out;
  }
  
  .mobile-nav-custom-link:hover {
    color: rgba(var(--link-text-color));
  }
}

@media (max-width: 360px) {
  .nav-mobile-menu-container {
    width: 90%;
  }
}

/*** CSSTransition ***/
.mobile-enter {
  transform: translateX(340px);
}

.mobile-enter-active {
  transform: translateX(0px);
  transition: transform 300ms ease-in-out;
}

.mobile-exit {
  transform: translateX(0px);
}

.mobile-exit-active {
  transform: translateX(340px);
  transition: transform 300ms ease-in-out;
}

@supports selector(::-webkit-scrollbar) {
  .nav-mobile-menu-container::-webkit-scrollbar {
    width: 4px;
  }

  .nav-mobile-menu-container::-webkit-scrollbar-track {
    background: transparent;
  }
}