/****************** Navbar ******************/
.navbar {
  width: 100vw;
  height: auto;
  background-color: rgba(var(--primary-color));
  z-index: 10;
  position: relative;
}

.navbar-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-header, .navbar-header-logo {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  animation: fade-down 500ms 400ms backwards;
}

.navbar-header-logo {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.navbar-theme-icons-container, .navbar-icons-container {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-theme-icons-container{
  justify-content: start;
}

.navbar-icons-container {
  justify-content: end;
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-logo {
  width: 150px;
  height: 100%;
}

.navbar-navigation-wrapper {
  width: 100%;
}

.navbar-navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--inverse-color));
  color: rgba(var(--secondary-text-color));
}

.navbar-navigation-link, .navbar-navigation-link-focus {
  display: inline-block;
  position: relative;
  padding: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 0.5rem;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  animation: fade-down 500ms 500ms backwards;
}

.navbar-navigation-link::after, .navbar-navigation-link-focus::after {
  content: '';
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--secondary-text-color));
  transform: translateX(-50%) scaleX(0);
  transition: transform 200ms ease;
  transform-origin: bottom;
}

.navbar-navigation-link:hover::after, .navbar-navigation-link-focus::after {
  transform: translateX(-50%) scaleX(1);
  transform-origin: bottom;
}

.hidden-theme {
  display: none;
}