/****************** Navigation Mega Menu ******************/
.mega-menu-container {
  max-width: 55vw;
  height: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(var(--num-columns), 1fr);
  justify-items: center;
  color: rgba(var(--primary-text-color));
  animation: fade-in-down 300ms 200ms backwards;
}

.mega-menu-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-montserrat);
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
}

.mega-menu-content-wrapper:not(:last-child) {
  border-right-width: 1px;
  border-color: rgba(var(--input-border-color), 0.33);
}

.mega-menu-content {
  width: 100%;
  position: relative;
}

.mega-menu-content h2{
  font-weight: 700;
}

.mega-menu-content h3 {
  font-weight: 700;
  font-size: 15px;
}

.mega-menu-content ul {
  font-size: 14px;
}

.mega-menu-content a {
  position: relative;
  transition: color 200ms ease;
  white-space: nowrap;
}

.mega-menu-content a:hover {
  color: rgba(var(--link-text-color));
}

.mega-menu-content a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px; /* Thickness of the underline */
  background: rgba(var(--primary-text-color)); /* Matches the text color */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: background-color 200ms ease, transform 200ms ease;
}

.mega-menu-content a:not(:has(img)):hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
  background-color: rgba(var(--link-text-color));
}

.mega-menu-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.mega-menu-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*** Mobile & Media Queries ***/
@media (max-width: 1770px) {
  .mega-menu-container {
    max-width: 65vw;
  }
}

@media (max-width: 1536px) {
  .mega-menu-container {
    max-width: 100vw;
  }
}