/****************** Dropdown ******************/
.dropdown-container {
  position: relative;
}

.dropdown-menu-pointer {
  content: '';
  position: absolute;
  top: calc(100% - 0.3rem);
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translateX(-50%) rotate(45deg);
  background-color: rgba(var(--secondary-color));
  border-left-width: 1px; border-top-width: 1px;
  border-color: rgba(var(--input-border-color), 0.5);
  z-index: 1;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(100% + 0.15rem);
  transform: translateX(calc(var(--orientation)));
  background-color: rgba(var(--secondary-color));
  border-width: 1px;
  border-color: rgba(var(--input-border-color), 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  gap: 1rem;
  padding: 1rem;
  width: 250px;
  /* max-height: 10rem;
  overflow-y: scroll;
  scrollbar-width: none; */
}

.dropdown-menu-btn {
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  color: rgba(var(--secondary-text-color));
  border-width: 1px;
  border-color: black;
  transition: all 200ms ease-in-out;
  background-color: rgba(var(--primary-button-color));
}

.dropdown-menu-btn:hover {
  color: rgba(var(--primary-text-color));
  background-color: rgba(var(--primary-hover-button-color))
}

 
/* CSS Transition */
.menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 100ms linear, transform 100ms linear;
}

.menu-exit {
  opacity: 1;
  transform: translateY(0px);
}

.menu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 100ms linear, transform 100ms linear;
}
