/****************** Bag ******************/
.bag-btn, .bag-btn-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  gap: 0.5rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 2px;
}

.bag-btn-focus, .bag-btn:hover {
  background-color: rgba(var(--secondary-color), 0.5);
}

.bag-icon {
  width: 25px;
  height: 25px;
}

/****************** Bag Content Heading ******************/
.bag-h2 {
  font-family: var(--font-montserrat);
}

/****************** Bag Content Info Card ******************/
.bag-container {
  background-color: white;
  position: relative;
  max-height: 325px;
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: 1px; 
}

.bag-container > *:not(:last-child) {
  margin-bottom: 1rem; 
}

.bag-container > *:last-child {
  margin-bottom: 0; 
}

.bag-card {
  width: 325px;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-montserrat);
  font-size: 14px;
}

.bag-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.bag-info {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.bag-info-second {
  display: flex;
  justify-content: space-between;
}

.bag-info-third {
  display: flex;
  justify-content: space-between;
}