/****************** Bag ******************/
.bag-btn, .bag-btn-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  gap: 0.33rem;
  transition: background-color 200ms ease-in-out;
  padding: 7.5px;
  border-radius: 2px;
}

.bag-btn-focus, .bag-btn:hover {
  background-color: rgba(var(--secondary-color), 0.5);
}

.bag-icon-wrapper {
  position: relative;
}

.bag-icon {
  width: 25px;
  height: 25px;
}

.bag-badge {
  width: 17.5px;
  height: 17.5px;
  font-weight: 500;
  font-size: 10px;
  color: rgba(var(--primary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: rgba(var(--red-button-color));
  border-radius: 100%;
  animation: fade-in-up 300ms;
}

/****************** Bag Content Heading ******************/
.bag-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-family: var(--font-montserrat);
  font-size: 15px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(var(--inverse-color), 0.25);
}

.bag-header h2 {
  font-weight: 700;
  font-size: 16px;
}

/****************** Bag Content Info Card ******************/
.bag-container {
  position: relative;
  max-height: 330px;
  padding: 0.5rem 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-scrollbar-width: thin;
  -webkit-scrollbar-color: rgba(var(--inverse-color), 0.5) transparent;
  scrollbar-width: thin; 
  scrollbar-color: rgba(var(--inverse-color), 0.5) transparent;
}

.bag-container > *:not(:last-child) {
  margin-bottom: 1.5rem; 
}

.bag-container > *:last-child {
  margin-bottom: 0; 
}

.bag-card {
  width: 350px;
  display: grid;
  position: relative;
  grid-template-columns: 30% 70%;
  gap: 1rem;
  font-family: var(--font-montserrat);
  font-size: 14px;
}

.bag-card h2 {
  font-weight: 700;
  font-size: 16px;
}

.bag-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.bag-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bag-info-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bag-info {
  display: flex;
  justify-content: space-between;
}

.bag-qty-container {
  display: flex;
  align-items: center;
  margin-top: -2.5px
}

.bag-qty-stepper {
  position: relative;
  display: flex;
  align-items: center;
}

.bag-qty-stepper button {
  font-size: 16px;
  padding: 0px 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bag-qty-stepper input {
  width: 22px;
  height: 22px;
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(var(--inverse-color), 0.25);
}

.bag-close {
  position: absolute;
  top: -0.5rem;
  right: 5px;
  width: 25px;
  height: 25px;
}


/*** CSSTransition ***/
.badge-enter {
  opacity: 0;
  animation: fade-in-up 300ms;
}

.badge-enter-active {
  opacity: 1;
  animation: fade-in-up 300ms;
}

.badge-exit {
  opacity: 1;
  animation: fade-out-up 300ms;
}

.badge-exit-active {
  opacity: 0;
  animation: fade-out-up 300ms;
}