/****************** QuantityStepper ******************/
/* TODO: Some hover, focus, and active styling */
.number-stepper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(var(--inverse-color), 0.25);
}

.number-stepper button {
  width: calc(var(--size) * 0.75);
  height: var(--size);
  background-color: rgba(var(--primary-color)), transparent;
  cursor: pointer;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}

.number-stepper button:active {
  transform: scale(0.8)
}

.number-stepper input {
  width: var(--size);
  height: var(--size);
  text-align: center;
  padding: 5px;
  background-color: rgba(var(--primary-color));
  border-left: 1px solid rgba(var(--inverse-color), 0.25);
  border-right: 1px solid rgba(var(--inverse-color), 0.25);
}

.svg-icon {
  margin: auto;
  width: calc(var(--size) * 0.375);
  height: calc(var(--size) * 0.375);
}


/*** Accessibility ***/
.visually-hidden {
  width: 0;
  height: 0;
  border: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
