/****************** Search ******************/
.search-content {
  position: relative;
  display: flex;
  margin: 7.5px;
  opacity: 0.66;
  outline: 1px solid transparent;
  box-shadow: 0 1px 0 0 rgba(var(--input-border-color), 0.8);
  transition: opacity 200ms ease-in-out, outline 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.search-box {
  width: 225px;
  height: 27.5px;
  padding-left: 0.75rem;
  padding-right: 2.25rem;
  font-family: var(--font-montserrat);
  outline: 1px solid transparent;
  background-color: rgba(var(--primary-color));
  transition: background-color 200ms ease-in-out;
}

.search-box::placeholder {
  color: black;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.search-content:focus-within {
  opacity: 1;
  outline: 1px solid rgba(var(--input-border-color), 0.5);
  box-shadow: 0 1px 0 0 transparent;
}

.search-content:focus-within .search-box::placeholder {
  opacity: 0;
}

.search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.66;
  top: 50%;
  right: 0;
  transform: translateX(-0.5rem) translateY(-50%);
  pointer-events: none;
  z-index: 1;
}

.search-btn {
  width: 25px;
  height: 25px;
}

/*** Mobile & Media Queries ***/
.mobile {
  display: none;
}

@media (max-width: 1280px) {
  .search-box {
    width: 150px;
  }
}
@media (max-width: 1024px) {
  .mobile {
    display: block;
  }

  .search-content {
    display: none;
  }
}