/****************** Search ******************/
.search-content {
  position: relative;
  display: flex;
  border-bottom-width: 1px;
  border-color: rgba(var(--search-border-color));
  opacity: 0.66;
  transition: opacity 200ms ease-in-out;
}

.search-box {
  width: 225px;
  height: 30px;
  padding-left: 0.5rem;
  padding-right: 2.25rem;
  font-family: var(--font-montserrat);
  outline: none;  /* TODO: Find replacement */
  background-color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  top: 50%;
  right: 0;
  transform: translateX(-0.5rem) translateY(-50%);
  pointer-events: none;
  z-index: 1;
}

.search-box::placeholder {
  color: black;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.search-content:focus-within {
  opacity: 1;
}

.search-content:focus-within .search-box::placeholder {
  opacity: 0;
}

/* .search-box:focus {
  background-color: rgba(var(--secondary-color));
  border-radius: 2px;
} */