/****************** Search ******************/
.search-content {
  position: relative;
  display: flex;
  margin: 7.5px;
  opacity: 0.66;
  outline: 1px solid transparent;
  transition: opacity 200ms ease-in-out, outline 200ms ease-in-out;
}

.search-box {
  width: 200px;
  height: 25px;
  padding-left: 0.75rem;
  padding-right: 2.25rem;
  font-family: var(--font-montserrat);
  background-color: rgba(var(--secondary-color));
  outline: 1px solid transparent;
}

.search-box::placeholder {
  color: black;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.search-content:focus-within {
  opacity: 1;
  outline: 1px solid rgba(var(--inverse-color), 0.75);
  background-color: rgba(var(--secondary-color));
}

.search-content:focus-within .search-box::placeholder {
  opacity: 0;
}

.search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  top: 50%;
  right: 0;
  transform: translateX(-0.5rem) translateY(-50%);
  pointer-events: none;
  z-index: 1;
}